.pro-pac-navbar {
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    flex-shrink: 0;
    padding: 20px 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-pac-logo-small {
    display: none;
}

.pro-pac-nav-left {
    display: flex;
    align-items: center;
}

.pro-pac-nav-list {
    display: flex;
    gap: 24px;
    padding: 0 31px;
}

.pro-pac-nav-btn {
    display: flex;
    align-items: center;
    gap: 11px;
    /* padding-right: 100px; */
}

.pro-pac-nav-login-btn {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
    /* 19.76px */
    background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    padding: 14px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7.998px;
    border: 1px solid var(--Linear, #800080);
    box-shadow: 0px 4.279px 9.521px 0px rgba(0, 0, 0, 0.25);
}

.pro-pac-nav-signup-btn {
    display: flex;
    padding: 14px 41px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7.998px;
    background: var(--800080, rgba(128, 0, 128, 0.87));
    box-shadow: 0px 4.279px 9.521px 0px rgba(0, 0, 0, 0.25);
    color: var(--Color-2, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%;
}


@media (width<1180px) {
    .pro-pac-nav-btn {
        padding-right: 32px;
    }
}

@media (width<1080px) {

    .pro-pac-nav-list {
        display: none;
    }


}

@media (width<980px) {

    .pro-pac-nav-btn {
        padding-right: 16px;
    }


}

@media (width<780px) {
    .pro-pac-nav-btn {
        padding: 0;
    }

    .pro-pac-nav-login-btn {
        font-size: 12px;
        padding: 8.5px 27px;
    }

    .pro-pac-nav-signup-btn {
        font-size: 12px;
        padding: 8.5px 20px;
    }

    .pro-pac-navbar {
        height: 72px;
    }

    .pro-pac-logo-large {
        display: none;
    }

    .pro-pac-logo-small {
        display: inline;
    }

}

@media(width<580px) {
    .pro-pac-navbar {
        padding: 20px 31px;
    }
}

@media(width<400px) {
    .pro-pac-navbar {
        padding: 20px 16px;
    }
}

@media (width<355px) {

    .pro-pac-nav-login-btn,
    .pro-pac-nav-signup-btn {
        padding: 8.5px 12px;
    }
}