.pro-pac-star-div {
    display: flex;
    gap: 5px;
}

.pro-pac-star {
    width: 25.264px;
    height: 25.264px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro-pac-previous-arrow {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--grey, #5D6165);
    background: rgba(255, 255, 255, 0.00);
    margin-right: 15px;
}

.pro-pac-previous-arrow>svg {
    width: 25px;
    height: 25px;
    /* flex-shrink: 0; */
}

.pro-pac-next-arrow {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--grey, #5D6165);
    background: rgba(255, 255, 255, 0.00);
    margin-left: 15px;
}

.pro-pac-next-arrow:hover>svg>path,
.pro-pac-previous-arrow:hover>svg>path {
    stroke: white;

}

.pro-pac-next-arrow:hover,
.pro-pac-previous-arrow:hover {
    background: var(--Linear, linear-gradient(90deg, #800080 3.92%, #B466C1 52.78%, #800080 92.42%));
    border: none;
}

.pro-pac-next-arrow>svg {
    width: 25px;
    height: 25px;
}

@media (width<1080px) {
    .pro-pac-star>svg {
        width: 18px;
        height: 18px;

    }

    .pro-pac-star {
        width: 18px;
        height: 18px;

    }

    .pro-pac-star-div {
        gap: 2px;
    }

    .pro-pac-next-arrow {
        margin-left: 8px;
    }

    .pro-pac-previous-arrow {
        margin-right: 8px;
    }

}

@media (width<480px) {
    .pro-pac-star-div {
        flex-wrap: wrap;

    }

    .pro-pac-star,
    .pro-pac-star>svg {
        width: 14.574px;
        height: 14.574px;
    }

    .pro-pac-tct-l {
        gap: 8px;
    }

    .pro-pac-next-arrow,
    .pro-pac-previous-arrow {
        width: 28px;
        height: 28px;
        padding: 5px;
        border-radius: 50%;
    }


    .pro-pac-previous-arrow>svg {
        width: 18px;
        height: 18px;
    }

    .pro-pac-next-arrow>svg {
        width: 18px;
        height: 18px;

    }
}